<div class="main_top">
  <div class="room_name">
  </div>
  <div class="exit">
  </div>
</div>

<div class="main_main">
  <div class="messages">
    <div class="message">
      <div class="message_name">
      </div>
      <div class="message_time">
      </div>
      <div class="message_text">
      </div>
    </div>
  </div>
</div>

<div class="main_bottom">
  <div class="text_form">
  </div>
  <div class="image_form">
  </div>
  <div class="send_form">
  </div>
</div>