<div class="side_top">
  <div class="user_name">
  </div>
  <div class="new_chat">
  </div>
</div>
<div class="side_main">
  <div class="room_lists">
    <div class="room_list">
    </div>
  </div>
</div>