.wrapper{
  display: flex;
}

.side{
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.main{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

/* サイドバーについての記述ここから */

.side_top{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.new_chat a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.side_main{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room_lists{
  font-size: 16px;
  color: #FAFAFA;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.room-list{
  height: 76px;
  padding: 20px 20px 40px 20px;
  text-decoration: none;
}

.room-name a{ 
  color: white;
  text-decoration: none;
}

/* サイドバーについての記述ここまで */


/* メイン画面についての記述ここから */

.main_top{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room_name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.exit{
  margin-top: 40px;
}

.exit a{
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-decoration: none;
}

.main_main{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  overflow: scroll;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

/* .messages{

} */

.message{
  padding-bottom: 40px;
}

.upper-message{
  display: flex;
  margin: 10px 0;
}

.message-user{
  margin-right: 10px;
  font-size: 16px;
  color: #434A54;
}

.message_date{
  font-size: 12px;
  color: #999;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.main_bottom{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  display: flex;
  width: 100%;
}

.text_form{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.send_form{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.image_form{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

/* メイン画面についての記述ここまで */