.wrapper{
  display: flex;
}

.side{
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.main{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

/* サイドバーについての記述ここから */

.side_top{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.new_chat a{
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.side_main{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.room_lists{
  font-size: 16px;
  color: #FAFAFA;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.room_list{
  height: 76px;
  padding: 20px 20px 40px 20px;
}

.room_list a{
  color: white;
  text-decoration: none;
}

/* サイドバーについての記述ここまで */


/* メイン画面についての記述ここから */

.main_top{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
}

.main_main{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.main_bottom{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

/* メイン画面についての記述ここまで */